<html>
    <head>
    	<title>Add Room</title>
    </head>
    <body>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Building</th>
                <th>Tools</th>
                <th>Capacity</th>
            </tr>
            <% @Room.each do |r| %>
            <tr>
                <td><%= r.name %></td>
                <td><%= r.building %></td>
                <td><%= r.tools %></td>
                <td><%= r.capacity %></td>
            </tr>
            <% end %>
        </table>
        
        
        
    </body>
</html>