<html>
    <head>
    </head>
    <body>
        <div class="container">
        
        <% if flash[:notice] && flash[:notice] != "This Room, This Day and This Time have been reserve. So u can't add this Course" %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        
        <span class="glyphicon glyphicon-align-left" ></span> <h1>Room Management</h1>
        <%= image_tag("/images/classroom.jpg" , :height => "96%" , :width => "96%")%>
        
        </div>
    </body>
</html>