<html>
    <head>
    </head>
    <body>
        <div class="container">
        
        <% if flash[:notice] && flash[:notice] != "This Room, This Day and This Time have been reserve. So u can't add this Course" %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        
        <div class="alert alert-warning" role="alert"><h1> => Room Management™ <h1></div>
        
        <%= image_tag("/images/classroom.jpg" , :height => "120%" , :width => "120%")%>
        
        </div>
    </body>
</html>